.clear {
	clear: both;
}
.footerText {
	font-size: 10pt;
	text-align: center;
}
textarea {
	font-family: monospace;
}
#output {
	max-height: 400px;
	height: 400px;
}
.log-row {
	padding-bottom: 2px;
}
