.clear {
	clear: both;
}
.footerText {
	font-size: 10pt;
	text-align: center;
}
textarea {
	font-family: monospace;
}
#output {
	display: block;
	max-height: 450px;
	height: 450px;
	overflow: auto;
}
.log-row {
	padding-bottom: 2px;
}
.log-row > small {
	margin-left: 5px;
}
